ul li{
    list-style-type: none;
}
.shop-slide {
    margin: 0 -15px
}
.shop-slide .owl-item li {
    border: 0;
    padding-bottom: 0
}
.shop-slide .owl-wrapper-outer {
    padding-bottom: 0
}
.shop-slide .owl-item {
    padding: 0 15px
}
.shop-slide .owl-prev,
.shop-slide .owl-next {
    left: 0
}
.shop-slide .owl-next {
    left: auto;
    right: 0
}
.shop-slide {
    margin: 0 -5px;
    width: auto;
    position: relative
}
.one-sale .shop-slide {
    position: static;
}
.shop-slide .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
}
.shop-slide .owl-prev,
.shop-slide .owl-next {
    float: left;
    width: 30px;
    height: 24px;
    background: #fff;
    text-indent: -9999px;
    border: 1px solid #dfdfdf;
    position: relative;
    left: -9px
}
.shop-slide .owl-next {
    float: right;
    left: auto;
    right: -9px
}
.shop-slide .owl-prev:before,
.shop-slide .owl-next:before {
    position: absolute;
    content: '';
    border-bottom: 6px solid #999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto
}
.shop-slide .owl-next:before {
    border-bottom: 0;
    border-top: 6px solid #999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}
.shop-slide .owl-next.disabled,
.shop-slide .owl-prev.disabled {
    opacity: .5;
    cursor: default
}
.shop-slide .owl-wrapper-outer {
    padding: 10px 0
}
.shop-slide .owl-item {
    padding: 0 5px;
    position: relative;
    top: 0;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease
}
.shop-slide .owl-item.first {
    top: -400px
}
.shop-slide .owl-item.last {
    top: 400px
}
.shop-slide .owl-item li {
    border: 1px solid #dfdfdf;
    padding-bottom: 38px;
    background: #fff;
    width: 100%;
    position: relative;
    min-height: 156px;
}
.shop-slide .owl-item li>a {
    display: block;
    max-height: 117px;
    overflow: hidden;
}
.shop-slide .owl-item li img {
    width: 100%
}
.shop-slide .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-right: 24px;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    color: #333;
}
.shop-slide .caption:after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    background: url(../img/sprite.png);
    background-position: -41px 0;
    right: 10px;
    top: 50%;
    margin-top: -4px
}
.shop-slide a:hover .caption:after {
    background-position: -41px -8px
}
.cf:before,
.cf:after {
    display: table;
    content: " "
}
.cf:after {
    clear: both
}
.cf:before,
.cf:after {
    display: table;
    clear: both;
    content: ""
}